// ============================================================
// MIXINS & FUNCTIONS
// ============================================================

// Text color contrast utility
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Default easing transition
@mixin easeOut {
    transition: $transition-base;
}

@mixin easeOutFast {
    transition: $transition-fast;
}

// Fullpage background overlay
@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

// Portrait image circle
@mixin portrait-image-styling {
    width: 250px;
    height: 250px;
    background: $portrait-img;
    background-size: cover;
    border-radius: 50%;
    border: solid 6px $secondary-color;
}

// ============================================================
// RESPONSIVE BREAKPOINTS
// ============================================================

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}
