//progress bar styling
.skills {
	background: darken($primary-color, 15);
	padding: 2rem 2rem 2rem 2rem;
	margin-left: 1rem;

	h2 {
		margin-bottom: 3rem;
		text-align: center;
	}
}

.progress-bar {
	position: relative;
	width: 20rem;
	height: 3.2rem;
	border: 3px solid #000;
	border-radius: 2rem;
	font-weight: bold;
	margin-bottom: 2rem;
}

.progress-bar-fill {
	height: 100%;
	border-radius: 2rem;
	background: $secondary-color;
	@include easeOut;
	width: 20%;
}

.progress-bar-value {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
